<!DOCTYPE html>
<html>
    <head>
    	<title>RESTful Blog App</title>
	    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css" integrity="sha256-wSyIrcFyTvUqZ7ve9z2fOQ22ePKTcEfjSy/dLCRiVSM=" crossorigin="anonymous" />
	    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="talk icon"></i>Blog Site</div>
            <a class="item" href="/">Blog</a>
            <a class="item" href="/blogs/new">Home</a>
        </div>
    </div>